:root {
  --gutter: 20px;
}

html {
  margin: auto;
  height: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul, section, article {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

body {
  font-size: 1.2em;
  line-height: 1.8em;
  font-family: 'Open Sans', sans-serif;
  color: #666;
  background: #fff;
  padding: 0 20px;
  height: 100%;
}

.cards {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(5, 1fr);
}

.card {
  background-color: dodgerblue;
  color: white;
  padding: 1rem;
  height: 8rem;
}



p { 
  margin-bottom: .5em;
}

p a { 
  text-decoration: underline;
}

a {
  text-decoration: none;
  color: #666;
}

section {
  width: 100%;
  margin: 0 auto;
}

article {
  margin: 0 auto;
  min-height: 30em;
}

.button-box {
  width: 90%;
  margin: 0 auto;
  padding: 0;
  scroll-snap-align: center;
  padding: calc(var(--gutter) / 2 * 1.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fff;
  border-radius: 8px;
}

.button {
  width: 125px;
  height: 125px;
  padding: 1em 0;
  margin-bottom: 1em;
  letter-spacing: 1px;
  font-size: .8em;
  line-height: 1.2em;
}

.nav-box {
  width: 98%;
  margin: 0 auto;
  padding: 0;
  padding-top: 10px;
}

.top-nav {
  background: #fff;
  color: #666;
  text-transform: uppercase;
  width: 32%;
  float: left;
  font-size: .6em;
  line-height: 1em;
  border: 1px solid #aaa;	
}

.bottom-nav {
  background: #fff;
  color: #999;
  text-transform: uppercase;
  width: 32%;
  float: left;
  font-size: .5em;
  line-height: .8em;
  padding: 5px 0;
}

.left.bottom-nav.button {
  margin-right: 1%;
}

.right.bottom-nav.button {
  margin-left: 1%;
}

.left.top-nav.button {
  margin-right: 1%;
}

.right.top-nav.button {
  margin-left: 1%;
}

.in-list {
  background: #fafafa;
  color: #333;
  font-weight: normal;
  text-transform: lowercase;
  border: 1px solid #aaa;
}

.docstring {
  margin: 0 0 0px 20px;
  text-align: left;	
}

.note {
  margin: 25px auto;
  text-align: left;
  border-top: 1px solid #fff;
  padding-top: 0px;
}

.note ul, .note li {
  list-style: disc;
  margin-left: 1em;
}

pre {
  border: none!important;
  font-size: 1.2em;
  background: #fafafa;
  padding: 20px!important;
  white-space: pre-wrap;
  word-wrap: break-word;
  text-align: justify;
  width: 100%;
}

.card-title {
  font-size: 1.7em;
  line-height: 1.4em;
  width: 85%;
  text-align: center;
  margin: 30px auto 15px;
  color: #e53935;
}

@media all and (orientation:landscape) {
pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  text-align: justify;
  }
}


/* horizontal scroll styles*/
.container {
  padding: var(--gutter) 0px;
  display: grid;
  grid-gap: var(--gutter) 0;
  align-content: start;
}

.container > * {
  grid-column: 2 / -2;
}

.container > .full {
  grid-column: 1 / -1;
}

li>a {
  display: inline;
}

ul {
  list-style: none;
  padding: 0;
}

.hs > li,
.item {
  scroll-snap-align: center;
  padding: calc(var(--gutter) / 2 * 1.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fff;
  border-radius: 8px;
}

.no-scrollbar {
  scrollbar-width: none;
  margin-bottom: 0;
  padding-bottom: 0;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

img {
  max-width: 100%;  
  height: auto;
}
